@media (prefers-color-scheme: light) {
  :root {
    --color-bg: var(--color-white);
    --color-fg: var(--color-black);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: var(--color-black);
    --color-fg: var(--color-white);
  }
}

body {
  background-color: var(--color-bg);
  color: var(--color-fg);
}
